<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
      <input type="radio" value="vue" v-model="Str" name="input1">Vue
      <input type="radio" value="js" v-model="Str"  name="input2">js
      <input type="radio" value="css" v-model="Str" name="input3">css
      <button @click="btn">点击</button>
      {{Str}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app=new Vue({
            el:"#app",
            data:{
               Str:"vue",
            },
            methods:{
                btn(){
                    console.log(this.Str)
                }
            }
        })
    </script>
</body>
</html>